{release, {rcr, "0.1.0"}, [
    rcr,
    recon,
    runtime_tools,
    tools
]}.

%% Following prevents relx copying nodetool
% {generate_start_script, false}.

{extended_start_script, true}.

{overlay, [
    {mkdir, "data/ring"},
    {mkdir, "log/sasl"},
    {copy,     "files/bin/erl",           "erts-\{\{erts_vsn\}\}/bin/erl"},        %% needed?
    {copy,     "files/bin/nodetool",      "erts-\{\{erts_vsn\}\}/bin/nodetool"},   %% needed?
    {template, "files/config/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {template, "files/config/vm.args",    "releases/\{\{rel_vsn\}\}/vm.args"},
    {template, "files/bin/rcr",           "bin/rcr"},
    {template, "files/bin/rcr_console",   "bin/rcr_console"}
    % {copy, "files/bin/start_clean.boot", "bin/start_clean.boot"}          %% needed?
]}.
