{release, {rcr, "0.1.0"}, [
    rcr,
    recon
]}.

%% Following prevents relx copying nodetool
{generate_start_script, false}.

{output_dir, "_rel"}.
{overlay, [
    {mkdir, "log/sasl"},
    {template, "files/config/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {template, "files/config/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
    {template, "files/bin/rcr", "bin/rcr"},
    {template, "files/bin/rcr_console", "bin/rcr_console"},
    {copy, "files/bin/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/bin/start_clean.boot", "bin/start_clean.boot"}
]}.
