[
    {rcr, [
        {config, {rcr_config,
            % sample vnode/service maping
            [{vnode_config, rcr_sample, rcr_sample_vnode, rcr_sample_vnode_sup, rcr_sample_vnode_master}],
            rcr_sample_ring_event_handler,
            rcr_sample_node_event_handler}}
    ]},

    {kernel, [
        {inet_dist_listen_min, 10000},
        {inet_dist_listen_max, 10015}
    ]},

    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    {lager, [
      {colored, true},
      {handlers, [
          {lager_console_backend, info},
          {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
          {lager_file_backend, [{file, "log/console.log"}, {level, debug}]}
       ]},
       {error_logger_hwm, undefined}
    ]},

    {folsomite, [
        {graphite_host, "192.168.50.20"},
        {graphite_port, 2003},
        {flush_interval, 10}
    ]},

    {folsom, [
        {enabled_metrics, [
            median, {percentile, [75, 95, 99]},
            arithmetic_mean, min, max, n, histogram,
            standard_deviation]}
    ]},

    %% Riak Core config
    {riak_core, [
        {ring_state_dir, "data/ring"},
        % {http, [ {"{{web_ip}}", {{web_port}} } ]},
        {handoff_port, {{handoff_port}} }
        % {enable_consensus, true}
    ]},

    %% Riak Ensemble, used for consensus
    {riak_ensemble, [
        {data_root, "data/ensemble"}
    ]},

    %% Riak Governor, leaders
    {riak_governor, [
        {ensemble_size, 3},
        {ensemble_provider, riak_ensemble}
    ]},

    %% Riaknostic
    {riaknostic, [
        {app_config, "sys.config"}
    ]}
].
