[
    {kernel, [
        {inet_dist_listen_min, 10000},
        {inet_dist_listen_max, 10015}
    ]},

    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    {lager, [
        {colored, true},
        {crash_log, "log/crash.log"},
        {crash_log_msg_size, 65536}, %% 64kB
        {crash_log_size, 10485760},  %% 10MB
        {crash_log_date, "$D0"},     %% midnight every day
        {crash_log_count, 5},
        {error_logger_redirect, true},
        {error_logger_hwm, undefined},
        {async_threshold, 20},
        {async_threshold_window, 5},
        {handlers, [
       %% Set lager_console_backend to "" for live envs to disable
            {lager_console_backend, debug},
            {lager_file_backend, [
                {file, "log/error.log"},
                {level, error},
                {size, 10485760}, %% 10MB
                {date, "$D0"},    %% midnight every day
                {count, 5}]},
            {lager_file_backend, [
                {file, "log/debug.log"},
                {level, debug},
                {size, 10485760}, %% 10MB
                {date, "$D0"},    %% midnight every day
                {count, 5}]},
            {lager_syslog_backend, ["rcr-v1", local1, info]},
            {lager_file_backend, [
                {file, "log/lager_logstash.log"},
                {level, info},
                {formatter, lager_logstash_json_formatter},
                {formatter_config, [{json_encoder, jsx}]},
                {size, 10485760},
                {date, "$D0"},
                {count, 5}]}
    ]}]},

    %% Riak Core config
    {riak_core, [
        {ring_state_dir, "data/ring"},
        {http, [ {"{{web_ip}}", {{web_port}} } ]},
        {handoff_port, {{handoff_port}} },
        {enable_consensus, true}
    ]},

    %% Riak Ensemble, used for consensus
    {riak_ensemble, [
        {data_root, "data/ensemble"}
    ]},

    %% Riak Governor, leaders
    {riak_governor, [
        {ensemble_size, 3},
        {ensemble_provider, riak_ensemble}
    ]},

    %% Riaknostic
    {riaknostic, [
        {app_config, "sys.config"}
    ]}
].
